html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #F4F4F4;
}

.header {
  background-color: #FC0D1B;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

.measures {
  font-size: 11px;
  width: 125px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.measures p {
  color: white;
}

#logo {
  height: 70px;
  margin: auto;
}

#reset {
  background-color: #FFFF00;
  border: 1px solid darkgray;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  padding: 3px 15px;
  width: 75px;
  margin: 0 0 0 50px;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.cell {
  border: 1px solid #DDDFDE;
}