html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #F4F4F4;
}

.measures {
  background-color: #FC0D1B;
  padding: 8px 5px 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.measures p {
  color: white;
}

button {
  border: 1px solid darkgray;
  border-radius: 4px;
  cursor: pointer;
  padding: 3px 15px;
}

button:hover {
  background-color: #FFFF00;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.cell {
  border: 1px solid #DDDFDE;
}